.weatherforecast {
  background-color: aliceblue;
  width: 400px;
  height: 380px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  margin-left: 100px;
  font-weight: bold;
  padding-top: 20px;
}

.high_low_temperature {
  display: flex;
  gap: 5px;
  margin-left: 80px;
  font-size: 24px;
}

.temperature {
  font-size: 100px;
  margin-left: 30px;
}
