.body1 {
  height: 100vh;
  width: 100vw;
  margin: -1% 0px 0px -1%;
  display: flex;
}

.woman {
  z-index: 1000;
  margin: 30px auto;
  padding-right: 60px;
  height: 100%;
  pointer-events: none;
  position: relative;
  animation: fadeIn 3s ease 1s 1 normal backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}
